@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-sans:
    "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}
