---
import Navigation from "./Navigation.astro";
import LocaleSwitcher from "./LocaleSwitcher.astro";
import type { Locale } from "../config/navigation";

interface Props {
  locale: Locale;
  currentPath: string;
}

const { locale, currentPath } = Astro.props;
---

<header class="sticky top-0 bg-orange-50">
  <div
    class="header-content container mx-auto max-w-4xl px-4 py-2 sm:px-6 lg:px-8"
  >
    <div class="flex justify-between items-center">
      <div class="flex gap-x-1.5 items-center transition-all">
        <div class="tracking-tight font-semibold text-zinc-900">
          Mit Freuden
        </div>
        <svg class="h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <!-- Square Brackets [ ] - happy eyes ^^ -->
          <g>
            <path
              d="M 10 4 L 4 4 L 4 36 L 10 36"
              fill="none"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M 30 4 L 36 4 L 36 36 L 30 36"
              fill="none"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M 10 24 Q 20 32 30 24"
              fill="none"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M 12 18 Q 14 15 16 18"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              fill="none"></path>
            <path
              d="M 24 18 Q 26 15 28 18"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              fill="none"></path>
          </g>
        </svg>
      </div>

      <div class="flex items-center gap-8">
        <LocaleSwitcher locale={locale} currentPath={currentPath} />
        <!--<Navigation locale={locale} />-->
      </div>
    </div>
  </div>
</header>
