---
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { Locale } from '../config/navigation';

interface Props {
  locale: Locale;
  currentPath: string;
}

const { locale, currentPath } = Astro.props;
---

<nav class="flex justify-end gap-2">
  <a href={getRelativeLocaleUrl("de", currentPath)} class="hover:underline"}>de</a>
  <a href={getRelativeLocaleUrl("en", currentPath)} class="hover:underline"}>en</a>
</nav>
