---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Impressum">
  <h1 class="mb-8 text-2xl">Impressum</h1>

  <h2 class="mb-4 text-xl">Medieninhaber, Hersteller und Herausgeber</h2>
  <div class="mb-8 space-y-4">
    <p>
      Fritz Grabo<br />Radberger Hauptstraße 29e<br />3105 Sankt Pölten<br
      />Austria<br />ATU66179725<br /><a
        href="mailto:fritz@mitfreunden.com"
        class="underline">fritz@mitfreunden.com</a
      >
    </p>
    <p>
      Clemens Helm<br />Hietzinger Hauptstraße 101/1<br />1130 Wien<br
      />Austria<br />ATU78631027<br /><a
        href="mailto:clemens@mitfreunden.com"
        class="underline">clemens@mitfreunden.com</a
      >
    </p>
    <p>
      Christoph Lupprich<br />Alsegger Straße 53/3<br />1180 Wien<br
      />Austria<br />ATU69545058<br /><a
        href="mailto:christoph@mitfreunden.com"
        class="underline">christoph@mitfreunden.com</a
      >
    </p>
    <p>
      Wolfgang Rittner<br />Goethestraße 1<br />3100 Sankt Pölten<br
      />Austria<br />ATU66058188<br /><a
        href="mailto:wolfgang@mitfreunden.com"
        class="underline">wolfgang@mitfreunden.com</a
      >
    </p>
  </div>

  <div>
    E-Mail: <a href="mailto:hallo@mitfreunden.com" class="underline"
      >hallo@mitfreunden.com</a
    >
  </div>
</Layout>
