---
import Layout from "../../layouts/Layout.astro";

const title = "Mit Freuden";
const description =
  "Was bringt Freude ins Leben? Genau: so richtig, richtig gut gemachte Software. Das finden wir auch.";
---

<Layout title={title} description={description} locale="de">
  <article class="prose prose-lg max-w-none space-y-12 text-zinc-800">
    <div class="-mt-8 sm:-mt-12 mb-20 lg:mb-24">
      <div class="mb-8 flex items-center gap-3">
        <h1
          class="text-5xl font-light tracking-tight text-zinc-900 lg:text-6xl"
        >
          Mit Freuden
        </h1>
        <svg
          class="h-16 lg:h-24"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 40 40"
        >
          <!-- Square Brackets [ ] - happy eyes ^^ -->
          <g>
            <path
              d="M 10 4 L 4 4 L 4 36 L 10 36"
              fill="none"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M 30 4 L 36 4 L 36 36 L 30 36"
              fill="none"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M 10 24 Q 20 32 30 24"
              fill="none"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"></path>
            <path
              d="M 12 18 Q 14 15 16 18"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              fill="none"></path>
            <path
              d="M 24 18 Q 26 15 28 18"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              fill="none"></path>
          </g>
        </svg>
      </div>

      <p class="font-serif text-xl/8 lg:text-2xl/10">
        Was bringt Freude ins Leben? Genau: richtig, <span class="italic"
          >richtig</span
        >
        gut gemachte Software.
        <span class="mt-2 block italic lg:mt-3">Das finden wir auch.</span>
      </p>
    </div>

    <div class="mb-16 lg:mb-24">
      <h2 class="mb-3 text-3xl leading-9 tracking-tight md:mb-5 md:text-4xl">
        Fertige Lösungen
      </h2>

      <p class="max-w-2xl font-serif text-lg/8 text-pretty md:max-w-3xl">
        Wir entwickeln mit Ihnen gemeinsam <span class="font-bold"
          >komplette, einsatzbereite Software</span
        > – von der ersten Idee bis zum reibungslosen Live-Betrieb. Unsere Lösungen
        sind web-basiert und laufen auf allen Plattformen. Bei Bedarf auch inklusive
        nativer Mobile Apps für iOS und Android. So erreichen Sie Ihre Nutzer:innen
        überall, ohne Kompromisse bei Performance oder Bedienkomfort.
      </p>
    </div>

    <div class="mb-16 lg:mb-24">
      <h2 class="mb-3 text-3xl leading-9 tracking-tight md:mb-5 md:text-4xl">
        Software, die Freude macht
      </h2>

      <p class="max-w-2xl font-serif text-lg/8 text-pretty md:max-w-3xl">
        Was nützt die beste Technologie, wenn niemand gerne damit arbeitet?
        Richtig, richtig gute Software muss nicht nur funktionieren, sie sollte
        auch <span class="font-bold">Freude machen</span>. Deshalb legen wir
        Wert auf intuitive Usability, und Design, das nicht nur gut aussieht,
        sondern einfache und funktionale Bedienung ermöglicht.
      </p>
    </div>

    <div class="mb-16 lg:mb-24">
      <h2 class="mb-3 text-3xl leading-9 tracking-tight md:mb-5 md:text-4xl">
        Erfahrung, die Branchen bewegt
      </h2>

      <p class="max-w-2xl font-serif text-lg/8 text-pretty md:max-w-3xl">
        Unser Team hat Projekte in den unterschiedlichsten Bereichen umgesetzt –
        von <span class="font-bold"
          >Retail über Energie bis hin zu Warehouse-Logistik</span
        >. Jede Branche hat ihre eigenen Herausforderungen, und wir wissen, wie
        man sie meistert.
      </p>
    </div>

    <div class="mb-16 lg:mb-24">
      <h2 class="mb-3 text-3xl leading-9 tracking-tight md:mb-5 md:text-4xl">
        Zukunftssicher durch erprobte Technologie
      </h2>

      <p class="max-w-2xl font-serif text-lg/8 text-pretty md:max-w-3xl">
        Wir setzen auf <span class="font-bold"
          >bewährte, zukunftssichere Technologien</span
        >, die mit Ihrem Business mitwachsen. Unser Fokus liegt auf B2B-Lösungen
        wie zum Beispiel Workflow-Automatisierung, Datenvisualisierung oder
        komplexen Logistiksystemen, die auch über Jahre erfolgreich im Einsatz
        sind. Wir liefern Software nicht nur schnell und sicher, sondern auch
        skalierbar – von Startups bis zu Enterprise-Lösungen.
      </p>
    </div>

    <div class="mb-16 lg:mb-24">
      <h2 class="mb-3 text-3xl leading-9 tracking-tight md:mb-5 md:text-4xl">
        Wir sind verlässliche Partner
      </h2>

      <p class="max-w-2xl font-serif text-lg/8 text-pretty md:max-w-3xl">
        Für uns ist Softwareentwicklung mehr als nur Code schreiben. Wir <span
          class="font-bold">leben Ihre Projekte</span
        > mit, verstehen Ihre Ziele und entwickeln Lösungen, die wirklich zu Ihnen
        passen. Keine Standardpakete, keine halben Sachen. Maßgeschneiderte Software,
        die Ihr Business voranbringt und Ihnen und Ihrem Team täglich aufs Neue Freude
        bereitet.
      </p>
    </div>

    <div class="mt-30 mb-16 lg:mb-24">
      <h2
        class="mb-5 text-4xl leading-9 font-normal tracking-tight md:mb-5 md:text-4xl"
      >
        Klingt gut?
      </h2>

      <p class="mb-2 max-w-2xl font-serif text-2xl/10 text-pretty md:max-w-3xl">
        Dann lassen Sie uns reden. Wir&nbsp;freuen uns auf <span class="italic"
          >Ihr</span
        > Projekt.
      </p>
      <p class="max-w-2xl font-serif text-2xl/10 text-pretty md:max-w-3xl">
        <a
          href="mailto:hallo@mitfreuden.com"
          class="underline underline-offset-3 transition-all hover:text-amber-800/60"
          >Sagen Sie hallo</a
        >.
      </p>
    </div>
  </article>
</Layout>
